.app{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

svg {

    width: 100px;
    height: 100px;

    .twitter {

        .bg{
            fill: #fff;
            stroke: #A9F0FF; 
            stroke-width: 19px;
            fill-opacity: 0;
            stroke-dasharray: 0;
            stroke-dashoffset: 0;

            transition: stroke-width 0.3s ease-in;
        }

        .logo{
            fill: #00D1FF;
            stroke: rgb(0, 0, 0);
            stroke-width: 15;

            opacity: 0;
            transform: translateY(50px);
            transition-property: opacity transform;
            transition-duration: 350ms;
            transition-timing-function: ease;
        }

    }

    &.active{

        .twitter{
            .bg{
                transition: stroke-width 0.3s ease-in;
                stroke: #00D1FF;
                stroke-width: 0;
                stroke-opacity: 0.7;
                fill: rgb(0, 0, 0);
                pointer-events:all;
            }
            .logo{
                opacity: 1;
                transform: translateY(0px);
                transition-property: opacity transform;
                transition-duration: 350ms;
                transition-timing-function: ease;
            }
        }
    }

}